<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
                    <span th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All products'"></span>
                </h2>
            </h2>
        </div>
        <div class="col-xs-4">
            <img src="/image/ibxlogo.png" class="img-responsive"/>
        </div>
    </div>
    <hr
            style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;"/>

    <div class="row" style="margin-top: 60px;">
        <div class="col-xs-9 col-xs-offset-3">
			<div th:if="${emptyList}">
				<h5 style="font-style: italic;">Oops, no result is found. Try something else or try again later.</h5>
			</div>
			
			<table border="0" id="productList">
				<thead><tr><th></th></tr></thead>
				<tbody>
				<tr class="product-item" data-th-each="product : ${productList}">
					<td>
						<div th:if="${product != null}">
							<div class="row">
								<div class="col-xs-3">
									<a th:href="@{/productDetail?id=}+${product.id}"><img class="img-responsive shelf-product" 
									th:src="'/image/prod/' + ${product.id}+'.jpg'"/></a>
								</div>
								<div class="col-xs-9">
									<a th:href="@{/productDetail?id=}+${product.id}"><h4 th:text="${product.name}"></h4></a>
									<a th:href="@{/productDetail?id=}+${product.id}"><span style="font-size:x-large;color:#db3208;">$<span
									th:text="${#numbers.formatDecimal(product.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span></a>
									
									<span style="text-decoration: line-through;">$<span
									th:text="${#numbers.formatDecimal(product.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>
									
									<p th:text="${#strings.abbreviate(product.description, 500)}"></p>
									
								</div>
							</div>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
            

            


            
        </div>
    </div>
</div>
<!-- end of container -->


<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
