
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	
	<div class="container">
		<div class="table-responsive">
			<table id="ListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th><input th:id="selectAllproducts" type="checkbox" /></th>
						<th>Name</th>
						<th>Category</th>
						<th>List Price</th>
						<th>Our Price</th>
						<th>Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="product : ${productList}">
						<td>
						<input hidden="hidden" name="id" th:value="${product.id}" />
						<input th:id="'selected'+${product.id}" class="checkboxproduct" type="checkbox" />
						</td>
						<td><a th:href="@{/product/productInfo(id=${product.id})}"><span th:text="${product.name}"></span></a></td>
						<td th:text="${product.category}"></td>
						<td th:text="${product.listPrice}"></td>
						<td th:text="${product.ourPrice}"></td>
						<td>
							<input hidden="hidden" name="id" th:value="${product.id}" />
							<button th:id="'selected'+${product.id}" class="btn btn-danger btn-xs delete-product" type="submit" value="delete" >
							<span class="fa fa-times"></span>Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	<button th:id="deleteSelected" class="btn btn-danger ">Delete Selected</button>
	</div>
	
	
	<div th:replace="common/header :: body-bottom-scripts" />
	
	<script>
		$(document).ready(function() {
			$("#productListTable").DataTable({
				"lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
				"ordering": false,
				stateSave: true
			});
		});
	</script>
</body>
</html>
